* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1178px;
  margin: auto;
}

header {
  text-align: center;
  margin-top: 24px;
}

header ul {
  margin-top: 24px;
  list-style-type: none;
}

header ul li {
  display: inline-block;
}

header ul li:hover,
header ul li:active {
  background-color: #b6dbe4;
}

header ul li a {
  color: #000;
  display: inline-block;
  padding: 24px;
  text-decoration: none;
}

.section-prodotti .cards-box {
  padding: 24px 0;
}

.section-prodotti .cards-box h1 {
  text-transform: capitalize;
  color: #022d74;
  font-weight: lighter;
  padding-left: 5px;
}

.section-prodotti .cards-box .card-box-type {
  display: flex;
  flex-wrap: wrap;
}

.section-prodotti .cards-box .card-box-type .card {
  width: calc((100%/3) - 10px);
  position: relative;
  padding: 5px;
  transition: opacity 0.1s ease;
  display: block;
}

.section-prodotti .cards-box .card-box-type .card img {
  max-width: 100%;
  display: block;
}

.section-prodotti .cards-box .card-box-type .card .overlay {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  left: 5;
  top: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  transition: opacity 1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section-prodotti .cards-box .card-box-type .card:hover .overlay {
  opacity: 1;
}

.home-section,
.news-section {
  height: 300px;
  text-align: center;
}

footer {
  padding-top: 48px;
}

footer .container {
  height: 500px;
}

footer .container .col {
  width: calc(100%/3);
  float: left;
}

footer .container .col h2 {
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.6);
  padding: 7.2px 0;
}

footer .container .col ul {
  list-style: none;
}

footer .container .col ul li {
  color: rgba(0, 0, 0, 0.6);
  padding: 4.8px 0;
}

footer .container .col ul li a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}

footer .footer-background {
  height: 130px;
}

