* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1178px;
}

header {
  text-align: center;
}

header ul {
  margin-top: 24px;
  list-style-type: none;
}

header ul li {
  display: inline-block;
  padding: 24px;
}

header ul li a {
  color: #000;
  text-decoration: none;
  font-size: 24px;
}

