header{
    text-align: center;
    margin-top: $main_font;

    ul{
        margin-top: $main_font;
        list-style-type: none;
        li{
            display: inline-block;
            padding: $main_font;
            a{
                color: $main_color;
                text-decoration: none;
                font-size: $main_font;
            }
        }
    }

}
