header{
    text-align: center;
    margin-top: $main_font;

    ul{
        margin-top: $main_font;
        list-style-type: none;
        li{
            display: inline-block;

                &:hover, &:active{
                background-color: $hov_color;
                }
            a{
                color: $main_color;
                display: inline-block;
                padding: $main_font;
                text-decoration: none;
            }
        }
    }

}
